<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>https://avatars3.githubusercontent.com/u/7890777?s=140</IconUrl>
  <ProjectUrl>https://github.com/fredatgithub/LanguageDetector</ProjectUrl>
  <LicenseUrl>https://github.com/fredatgithub/LanguageDetector/blob/master/LICENSE</LicenseUrl>
  <Authors>Freddy Juhel</Authors>
  <Owners>Freddy</Owners>
  <Copyright>Copyright &#x00A9; Freddy Juhel MIT license</Copyright>
  <Description>AIOne is the first step of an Artificial Intelligence which is to detect language</Description>
  <Summary>AIOne is the first step of an Artificial Intelligence which is to detect language</Summary>
  <Keywords>AI, artificial, intelligence, language, machine, learning</Keywords>
</NuGetPack>