<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIOne.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AIOne.Properties.Settings>
            <setting name="FrenchWiki" serializeAs="String">
                <value>https://fr.wikipedia.org/wiki/Ponctuation</value>
            </setting>
            <setting name="FrenchWords" serializeAs="String">
                <value>je, tu, il, nous, vous, ils</value>
            </setting>
            <setting name="EnglishWiki" serializeAs="String">
                <value>https://en.wikipedia.org/wiki/Punctuation</value>
            </setting>
            <setting name="FrenchFileName" serializeAs="String">
                <value>french.txt</value>
            </setting>
            <setting name="EnglishFileName" serializeAs="String">
                <value>english.txt</value>
            </setting>
            <setting name="EnglishQuestionStartingWords" serializeAs="String">
                <value>what,how,why,who,when,where,do, does,have,has,is,whose,which,were,isn't,will,won't,weren't</value>
            </setting>
            <setting name="SpanishWiki" serializeAs="String">
                <value>http://www.gutenberg.org/cache/epub/15353/pg15353.txt</value>
            </setting>
            <setting name="EnglishWords" serializeAs="String">
                <value>I, you, he, she, it, we, they</value>
            </setting>
            <setting name="ListOfLanguages" serializeAs="String">
                <value>french, english, spanish, italian, german</value>
            </setting>
            <setting name="FrenchQuestionStartingWords" serializeAs="String">
                <value>est-ce,quand,où,que,qu'est-ce,pourquoi,pour</value>
            </setting>
        </AIOne.Properties.Settings>
    </applicationSettings>
</configuration>